#bodies {
    display: flex;
    width: 180px;
}

.icon {
    border: 1px solid;
}

#motion-bar {
    width: 180px;
    /* margin-left: 44px; */
    /* border: red 1px solid; */
    display: flex;
}

.segment {
    height: 5px;
    border: .5px solid;
    width: calc(1/9 * 100%);
}