:root {
    --red: invert(30%) sepia(87%) saturate(7406%) hue-rotate(355deg) brightness(95%) contrast(120%);
    --yellow: invert(83%) sepia(99%) saturate(5363%) hue-rotate(323deg) brightness(98%) contrast(106%);
    --green: invert(29%) sepia(88%) saturate(2034%) hue-rotate(94deg) brightness(93%) contrast(73%);
}

#timestamp {
    width: 178px;
    height: 8px;
    border: 1px solid;
}

#bodies {
    display: flex;
    width: 180px;
}

.icon {
    border: 1px solid black;
    width: 16px;
}

.sun {
    filter: var(--yellow);
}

.earth {
    filter: var(--green);
}

#motion-bar {
    position: relative;
    width: 180px;
    height: 8px;
    display: flex;
}

.segment {
    width: calc(10%);
    /* border: 1px solid */
}

#motion {
    font-family: "Space Grotesk", sans-serif;
    font-size: .5rem;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 3px;
}

#direct-text {
    font-family: "Space Grotesk", sans-serif;
    font-size: .5rem;
    color: white;
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 40px;
}

#retro-text {
    font-family: "Space Grotesk", sans-serif;
    font-size: .5rem;
    color: #000000;
    position: absolute;
    z-index: 3;
    top: -10px;
    left: 112px;
}