:root {
    --red: invert(30%) sepia(87%) saturate(7406%) hue-rotate(355deg) brightness(95%) contrast(120%);
    --yellow: invert(83%) sepia(99%) saturate(5363%) hue-rotate(323deg) brightness(98%) contrast(106%);
    --green: invert(29%) sepia(88%) saturate(2034%) hue-rotate(94deg) brightness(93%) contrast(73%);
}

#timestamp {
    width: 534px;
    height: 24px;
    border: 3px solid;
}

#bodies {
    display: flex;
    width: 540px;
}

.icon {
    border: 3px solid black;
    height: 48px;
}

.sun {
    filter: var(--yellow);
}

.earth {
    filter: var(--green);
}

#motion-bar {
    position: relative;
    width: 540px;
    height: 24px;
    display: flex;
}

.segment {
    width: calc(10%);
    /* border: 1px solid gray; */
}

#motion-text {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: -29px;
    left: 1px;
}

#direct-text {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    z-index: 2;
    top: -29px;
}

#retro-text {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5rem;
    color: black;
    position: absolute;
    z-index: 3;
    top: -29px;
}

.three {
    left: 109px;
}

.four {
    left: 163px;
}

.five {
    left: 217px;
}

.six {
    left: 271px;
}

.seven {
    left: 325px;
}

.eight {
    left: 379px;
}

.nine {
    left: 433px;
}

.ten {
    left: 487px;
}